<% if @cocktail.photo.attached? %>
    <% img = cl_image_path(@cocktail.photo.key)%>
<% end %>

<div class="container">
  <div class="container-flex">
    <div class="card-cocktail-index" style="background-image:url('<%= img %>'); background-repeat: no-repeat; background-size: cover">
      <h2><%= @cocktail.name %></h2>
    </div>
    <div class="card-ingredients">
      <h3>Description</h3>
      <p><%= @cocktail.description %></p>
      <h3>Ingredients</h3>
      <div class="list-ingredients">
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li>
            <%= link_to dose_path(dose), method: :delete, data: { confirm:'Are you sure?'} do %>
            <i class="delete fas fa-times-circle"></i>
            <% end %>
            <%= dose.ingredient.name %>  (<%= dose.description %>)
        </li>
        <% end %>
      </div>
      </ul>
      <%= render '/doses/new', { dose: Dose.new, url: cocktail_doses_path(@cocktail.id) } %>
    </div>
  <div class="card-reviews">
    <h3>Reviews</h3>
    <div class="review">
      <% @cocktail.reviews.each do |review| %>
      <%= link_to review_path(review), method: :delete, data: { confirm:'Are you sure?'} do %>
        <i class="delete fas fa-times-circle"></i>
      <% end %>
      <% review.rating.times do %>
        <i class="rating fas fa-star"></i>
      <% end %>
      ( <%= review.name %> )
      <p><%= review.content %></p>
      <% end %>
    </div>
    <%= render '/reviews/new', { review: Review.new, url: cocktail_reviews_path(@cocktail.id) } %>
  </div>
  </div>
</div>
